[Dataset]
root=/drogba/Datasets/humandataset/
image_root=/drogba/Datasets/humandataset/
default_image_suffix= 
trainingfilelist=training_file_list.txt
validationfilelist=evaluation_file_list.txt

[PatchExtraction]
numpatches=1000000
seedset=non_object

[Dictionary]
clustering_method=sp_kmeans
size=100

[Feature]
type=flex
patch_size=3
cell_size=8
weighted_hist=l2
distance_type=abs_cosine
scale_step=1.20
block_size=2 
block_normalization=l1sqrt
#block_normalization=l2
feature_normalization=l2
window_stride=4
cell_grouping=concatenate

[Object]
size_h=64
size_v=128

[Training]
training_samples_per_im=10

[Annotations]
annotation_file=/drogba/Datasets/humandataset/pedestrian_pascal_style_annotations.pkl

[Output]
root=training/inriaPedestrian
